In [17]:
import pandas as pd

In [18]:
data = pd.read_csv("lab2_insurance.csv")

In [19]:
data.head()

          Education  Satisfaction
0  College graduate             5
1  College graduate             3
2  College graduate             5
3  College graduate             3
4  College graduate             3

In [20]:
sep=data.groupby('Education')['Satisfaction'].apply(list)

In [23]:
print(sep)

Education
College graduate    [5, 3, 5, 3, 3, 3, 3, 4, 2]
Graduate degree        [3, 4, 5, 5, 5, 4, 5, 5]
Some college              [4, 1, 4, 2, 3, 4, 4]
Name: Satisfaction, dtype: object

In [25]:
from scipy.stats import levene
stat, p = levene(*sep, center='mean')

In [27]:
print(stat, p)

0.9433580072525427 0.4052061669935292