In [1]:
import numpy as np
import pandas as pd

In [2]:
db_lab2 = pd.read_csv("VIETNAM NATIONAL HIGHSCHOOL EXAM SCORE 2018.csv")

In [3]:
db_lab2

     Unnamed: 0   Diem    Khoi
0             1  12.60   KhoiB
1             2  22.05  KhoiA1
2             3  15.10   KhoiB
3             4  10.70  KhoiA1
4             5  14.75   KhoiC
..          ...    ...     ...
995         996  18.80   KhoiA
996         997  16.25   KhoiA
997         998  18.80   KhoiB
998         999  14.20   KhoiB
999        1000  14.80   KhoiB

[1000 rows x 3 columns]

In [19]:
grouped_data = db_lab2.groupby("Khoi")["Diem"].apply(list)

In [20]:
grouped_data

Khoi
KhoiA     [14.4, 20.9, 13.6, 20.85, 16.2, 14.25, 15.4, 1...
KhoiA1    [22.05, 10.7, 15.45, 10.9, 16.6, 12.2, 14.5, 1...
KhoiB     [12.6, 15.1, 14.6, 15.65, 19.55, 15.15, 16.5, ...
KhoiC     [14.75, 8.0, 14.75, 14.75, 13.0, 16.0, 19.5, 1...
Name: Diem, dtype: object

In [21]:
from scipy.stats import levene

In [26]:
stat, p = levene(*grouped_data, center='mean')

In [27]:
print(stat, p)

1.5142518859180483 0.20921586158616753

In [28]:
import scipy.stats as stats

In [29]:
fvalue, pvalue=stats.f_oneway(*grouped_data)
print(fvalue, pvalue)

3.5285453984081045 0.014524955156054894